 <base href="/">
   <h3>Profile Page</h3>
   

    <section class="single-page">

		    <!-- Profile Page Contents-->
                <article class="page-info container-fluid">
                 <!-- about me -->
                    <section class="row about-me">
                        <div class="col-sm-5 col-sm-offset-1 profile-image">
                            <div class="pro-image">
                           
                            <img src="~/client/kcink.jpg"/>                                
                            </div>
                            <h2><span>Nickolas</span><span>Stone</span></h2>
                            <h3>Web and Mobile Application Developer and SEO Specialist</h3>
                        
                        </div>
                        <!--.Profile image end-->

                        <!-- bio-->
                        <div class="col-sm-6 bio">
                            <div class="bio-inner">
                                <div class="col-md-10">
                                    <h4>I started 4+ years ago as an innovated IT Manager, Front End Developer (HTML/CSS/JS), then dug deep in the .NET namespace of development but still with a eye for design.</h4>
                                    <p>Originally specializing in C#, ASP.NET, MVC, Mobile, UX/UI, SQL, and overall web development, I really took fullstack Object Oriented JS, .NET, and MVC Frameworks are my bread and butter. (Angular 2, MVC.NET, EF/JSON/XML, APIs, Web Services, EmberJS, Backbone, and REACT stacks!)</p>
                                    <p>I started a small technology business at a young age and was also a project manager for a large building corporation in KC before leaving for Chicago on a College baseball scholarship, when my baseball career ended unexpectedly, I came back to KC to get back into the exploding IT Business market that I'm so passionate about.</p>
									<div>Today, you'll find that I've worked with Fortune 50 companies such as Verizon, worked on many different projects for the US Government and agencies.</div>                                    
									<div class="btn-group" style="width:100%; height:50%;">
                                        <input  type="button" class="btn btn-default"><a ng-href="mailto:nstone101@gmail.com" class="btn hire-me">Hire Me</a>
                                        <!--<a href="./app/index.html" target="_blank" class="btn download-resume">Android App</a>-->
                                        <input class="btn btn-primary" type="button"><a ng-href="https://docs.google.com/document/d/1ZKMYKXJFhQ2uonswwnO4yiyG4J6_STAK1K6MzlWjx3c/edit?usp=sharing" target="_blank" class="btn download-resume">Download Resume</a>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                        <!-- .bio End -->
                    </section>
               </article>
          </section>
