<div class="row">
    <div class="col-sm-12">
        <h1>About <span class="superNsdLogoScript">NSD</span></h1>
        <p class="lead underlined">NSD, The Inkcubation Project(s), Develop3d-kc, and Nick Stone Development are all brought together by many developers however, Nick Stone is the common denominator between everything. This site was completed solely by me with the objective of delivering all the latest frameworks and functionality that is out today. So this is a work in project and hope to bring in contributors as the <a ng-href="app.inkcubation.group">Inkcubation Group</a> grows. To learn more about Inkcubation or to Donate to our cause, we encourage you to </p><span>Learn More</span>
        <hr/>
        <div class="row-fluid about-bit"> 
         <div class="col-md-7 pull-left">
                <!--<social-media-twitter></social-media-twitter>-->
                <span>Social Media Twitter</span>
         </div>
         <div class="col-md-5 pull-right">
            <p>To get a better idea about what is included within this application there is a list below and on the tech List page with the Resume -Technologies and use cases, thanks. </p>

            <ul class="list-group">
                <li class="list-group-item">Uses Babel to support class/parameter decorators and parameter type annotations.</li>
                <li class="list-group-item">No Typescript included.</li>
                <li class="list-group-item">Bundles JavaScript files into one file with Webpack.</li>
                <li class="list-group-item">Automates bundling with Gulp.</li>
                <li class="list-group-item">Automatically rebundles and refreshes on changes.</li>
                <li class="list-group=item">Unit testing with Jasmine.</li>
                <li class="list-group-item">End-To-End testing with Protractor.</li>
                <li class="list-group-item">Deployment included.</li>
            </ul>
         </div>
        </div>
    </div>
</div>
<div class="row imagesAbout" id="secondTierAbout">
    <p>About Images Here</p>
    <div style="max-width:200px; max-height:200px;">Image Directive Here</div>

</div>