<div class="container">
    <h3>Resume Page</h3>

    <article class="page-info container-fluid">
                    <section class="row resume">
                        <div class="over-div"></div>
                        <div class="container">
                            <div class="col-xs-6 education">
                                <h2>- Employment -</h2>
                                <li>
                                        <h3>IT and Web Development Consulting - (NSD LLC - Nick Stone)</h3>
                                        <h4>Software Development Engineer</h4>
                                        <span>Nov 1 2015-March 31 2016</span>
                                        <p>My Duties Included:</p>
                                            <p>Creative Interactive Software Applications and Angular-driven components with style on the Verizon VOiP Portal on primarily on the frontend while maintaining existing programs and building out existing components on the front and back end. Using JS, Angular2, Angular-Bootstrap, SQL, and PHP + Node.Js.</p>
                                            <p>Developing an interactive node app portal for the various <em>Internal Applications and Interactive Data Modeling Tools that we developed</em> for clients' Network Engineers and Networking Dept in Dallas for Verizon Telecommunications and JMA-IT Engineers</p>
                                            <p>Moderate or Major expansion work on a variety of projects and tasked-projects within Verizon's list of needs for the active portal. </p>
                                            <p>Worked on Mac, LINUX, Juniper Server with our staging environments from logical to cloud-base, we also used Git SourceTree/Bitbucket for Source Control.
                                            <p>Angular 2.0, ES6 &amp; ES7 (Javascript/Typescript), Object-oriented Javascript, along with Node.js or Javascript on the server, touched with PHP, Terminal-programming frequently via linux using VIM/VI. Gulp automated build system and task runner, WebStorm 10-11, PHPStorm, Sublime Text 3 as IDEs and Sequel Pro as MySql or SQL table database environment. 
                                    </li>
                                
                                <hr/>
                                <h2>- Education -</h2>

                                <ul class="edu-list" ngClass="panel-group">
                                    <li class="list-group-item">
                                        <h3>Judson University</h3>
                                        <h4>Studied Entrepreneurial Business</h4>
                                        <span>2010-2011</span>
                                        <p>Went to Judson University in Chicago, IL to play NAIA D1 Collegiate Baseball before coming back into the tech world where I was before!</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>MCCKC - Longview</h3>
                                        <h4>Studied for an Associate in Business while I worked in technology</h4>
                                        <span>Spring 2011 and take a summer class or two to finish it</span>
                                        <p>Used MCC to get my bearings, I had hoped for a temporary spot to go to school until I made other arrangements and until I could play baseball. My time at MCC consists of a semester and a handful of online classes but introduced me to Business Law, and Business Technology which is why this site is here today.  </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Centriq Training (MS GOLD PARTNER)</h3>
                                        <h4>Graduated with 2 Diplomas/Certs</h4>
                                        <span>2014-2015</span>
                                        <p>Studied the .NET framework and became a .NET developer focusing on web applications before moving on to MVC and Mobile applications</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Microsoft (Centriq Training)</h3>
                                        <h4>Microsoft Technical Associates</h4>
                                        <span>2015</span>
                                        <p>Along with my diploma from Centriq training, a Microsoft Partner, I acquired an MTA (Microsoft Technical Associates Degree and Certification). I was taught the overall foundation of the .NET framework and overall web development which churned my mind more and more each day, each day getting a deeper understanding and a great desire to seek out more on my own, especially when it came to ASP.NET MVC, jQuery, jQuery Mobile, and overall mobile development.</p>
                                        <p>While there, we had a few projects with strict requirements that were given to us on a Monday, which was create a database for a ASP.NET Web Form Support Ticket Tracker application from scratch, with strict requirements and time contraits. Requirements for access amd app capabilites for certain roles and users, etc. It was an app that was data driven by SqlDataSources instead of Entity Framework or AJAX intentionally. My project turned out great but no with a plethora of time leftover...to say the least. 
                                            <br />
                                            However, when it came down to our MVC project which we only had 3 days to complete, I felt I was able to blow it out of the water because I was the only person in my class who had their personal site converted to MVC and had been playing with it for longer than the two weeks we spent on it VS. the 4-5 weeks spent on Web forms and some SQL. With Entity Framework, it obviously made the data easier to manage and easier to display. You just had to know Controllers, and Models, then add your Views. Although both project led to stressful weeks, they were the two best weeks at Centriq due to the real life application to development in business (a Ticket Support Program &amp; an Student Administration Tool to managing students, courses, classes, and schedules through MVC). Those projects can be found in My Works or here as well <a href="http://www.develop3d-kc.com/Home/Projects">(PROJECTS)</a>

                                        </p>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xs-6 employment card panel">
                                <h2>- Employment -</h2>

                                <ul class="employment-list list-group">
				<span class="card">Angular MD and NG-BS - (Cards coming, with fully employment info, with Google API Data, including addresses and phone numbers. Shortly)</span>
				/**DEV NOTE, PLEASE IGNORE, Pictures, Angular-Material and NG-UI Cards, and Setup will be here to organize Employment History interactively, with individual UI-grid DDL's **/
                                    <li class="list-group-item">
                                    	
                                        <h3>
                                            Dept. of Commerce (Homeland Security DHS, USCG, Arizona State Police, Social Media/Twitter API 2.0 Safety Application, CONTRACTS + REMOTE %50)
                                        </h3>
                                        <h4>Project Web Designer &amp; Front End MVC/MVVM Developer (PHP, EmberJs, AngularJs, MySQL, D3.JS, Crossroads.js, SignalR)</h4>
                                        <span>July 2015-September 2015</span>
                                        <p>My Duties Included:</p>

                                        <p>Creative Responsive <em>Mobile</em> Web Applications on the PHP Backend for tablets while maintaining other existing programs and websites</p>
                                        <p>Developing <em>SPA</em> MVC app using EmberJs, SammyJs, Angular, RequireJs, CrossRoads, Signlas, for clients such as DHS and USCG, among other unable to disclose</p>
                                        <p>Communicating with Business Intelligence and remote team member, as well as companies to get approval for certain actions and additions.</p>
                                        <p>Researching, and gathering requirements, and resources, then implement those resources near soley along with creating and suggesting a Design plan for the app and scale on both a Desktop, and primarily Tablet format.</p>
                                        <p>Managing, Maintaining, and implementing a custom CMS for content editing and 3-tier site staging from Local to Production</p>
                                        <p>Moderate to minor expansion work on other projects within DOCommerce backlog of development needs. </p>
                                        <p>Worked on Windows, used Subversion and Git for Source Control, and was exposed to Atlassian JIRA, Confluence, Adobe Creative Cloud Suite, PHP5 Symphony, SammyJS, Jquery TMPL, Crossroads.js, Signals.JS, Require.js and AngularJS  </p>
                                    </li>
                                    
                                   
                                    <li class="list-group-item">
                                        <h3>VML Marketing - Kansas City MO (Downtown Airport)</h3>
                                        <h4>Interactive Web Developer</h4>
                                        <span>March 2015-June 2015</span>
                                        <p>My Duties Included:</p>
                                            <p>Creative Responsive Web Applications on the Java Backend while maintaining existing programs and websites</p>
                                            <p>Developing <em>SPA</em> sites for clients such as Firestone, Bridegestone, and Welch Allyn, etc.</p>
                                            <p>Communicating with Business Intelligence and the client, as well as third party software companies to acquire requirements, and resources, then implement those resources according to Creative Design's plans and scale on both a Desktop, Mobile, and Tablet format.</p>
                                            <p>Building, Managing, Maintaining, and Using the Content Management System in place Adobe Experience Mangeer or AEM 6 and CQ5.5 for content editing and 4-tier site staging from Local to Production</p>
                                            <p>Moderate to minor expansion work on other projects within VML's client list. </p>
                                            <p>Worked on LINUX, used Subversion and Git for Source Control, and was exposed to Foundation, Java 1.6-1.7, Spring MVC, Component Based programming, VIM, Atlassian JIRA, Confluence, Maven, Ant, Grunt, Gulp, and AngularJS  </p>
                                       
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Self Employed Web Developer</h3>
                                        <h4>Lead Developer</h4>
                                        <span>2015-Present</span>
                                        <p>Here, I run my own shop offering a variety of services that offer individuals and businesses a chance to work together with me to accomplish their goals, whether it be a fully functioning online web portal, a personal site, taking outdated sites into the mobile age, or doing a full service technology evaluation and IT Consult to maximize potential within your corporate budget. Additional services include our SEO and SMM</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Source Management US &amp; </h3>
                                        <h3>Source Maintenance Building Services</h3>
                                        <h4>Staff Manager</h4>
                                        <span>02/2011-01/2014</span>
                                        <p>Managed Projects and Staff throughout different campuses, buildinds, complexes, and stadiums and other properties such as (Sporting KC, Kansas Speedway, Legends at Village West &amp; Zona Rosa). Led staffing for property management, scheduling, and event prep such as concerts and sportings events. <em>Managed</em> 3-18 people at a time, while working with Top Executives to gather needs, ideas, visions, and complaints to delegate and accomplish the clients goals by putting them into action at the lower levels of management and employees based on my employees strengths. Problem solving was an all day, everyday event. I may sure all clients needs were met and each event was covered properly. For Full Resume &amp; Details download my <a href="https://docs.google.com/document/d/1ZKMYKXJFhQ2uonswwnO4yiyG4J6_STAK1K6MzlWjx3c/edit?usp=sharing" target="_blank">Full Resume Download Link (Secure)</a> </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Self-Employed Contractor &amp;</h3> 
                                        <h3>Technical Business Consultant</h3>
                                        <h4>Overland Park, KS; Lenexa, KS; Olathe, LS; Warrensburg, MO</h4>
                                        <span>Periodically 2008-2014 &amp; Today for Marketing, and Overall Business Efficiency by Simple Technologies and Standards, SEO, and a STRONG Web Presence. (Below does not reflect)</span>
                                        <p>Main Consulting Clients included CPR Mobile Device Repair Overland Park, Source Management US (Shawnee/Lenexa KS), Source Maintenance (Lenexa KS), BOAZ International (Warrensburg MO), and Source Building Services(in Lenexa KS). </p>
                                        <p>Started out as a Mobile Tech/Business Consultant for C.P.R. Overland Park, and was there from the ground up for device repair, refurbish, recycle, and resell, then was brought on as a technical consultant while I was going into College to play baseball. I helped consult on the business end of the technology industry a bit but, Jen, at CPR Overland Park can more than be trusted with being extremely intelligent in business decisions, she just needed someone with industry experience and mobile device repair expertise, so I played those roles. Other full-time hire positions was Source Management US (prior to coming on full-time hire as Staff and Property Account Manager), Souce Maintenance LLC. or Source Building Services (Lenexa KS).
                                           <br />Then, I was Hired by Source Maintenance, LLC as a Business Technology Consultant for creating a network with advanced CAT6 wired/wireless connectivity, Ethernet/Phone/Low voltage cable & network switches, phone answering service implementation, office technology and field employee supply.
                                           Hired to do the same thing for Source Management as well as consulting on and acquiring all office furniture including, staff desks, receptionist desk, filing cabinets, safes, lobby/lounge furniture, break room appliances, and conference room furniture with A/V equipment. 
                                           Setup conference room phones, mics, remotely controlled projector, and HD camera for video conferencing.
                                            <br />For BOAZ Intl, I managed properties and project managed astronomical renovation projects inside of huge buildings and converting them into dance clubs along with managing a luxury apartment loft building called Opera House Lofts in Warrensburg, MO. 
                                            <br /> To read my full resume in detail please download it or read it in full <a href="https://docs.google.com/document/d/1ZKMYKXJFhQ2uonswwnO4yiyG4J6_STAK1K6MzlWjx3c/edit?usp=sharing" target="_blank" class="btn download-resume">Download Resume</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        
                    
</div>